body{
    padding: 10px 360px;
}


header{ 
        font-size: 25px;
        line-height : 1.5;
        margin: 1.5rem auto;
        background-color: rgb(20, 124, 158);
        text-align: center;
        font-family: 'Bitter', serif;

}
h1{    
    font-size: 3.5rem;
    margin: 0.15rem;
}

footer{
    font-size:10px;
    line-height: 5;
    margin: 1rem auto;
    background-color: rgb(20, 124, 158);
    text-align: center;
}

nav h2{
    font-size: 30px;
    border-bottom:1px solid rgb(20, 124, 158);
    text-align: center;
}

nav ul{
    font-size: 20px;
}

img{
    width:200px;
    height:auto;
    float: right
}