body{
    padding: 10px 360px;
}


header{ 
        font-size: 25px;
        line-height : 1.5;
        margin: 1.5rem auto;
        background-color: rgb(20, 124, 158);
        text-align: center;

}

footer{
    font-size:10px;
    line-height: 5;
    margin: 1rem auto;
    background-color: rgb(20, 124, 158);
    text-align: center;
}

nav h2{
    font-size: 30px;
    border-bottom:1px solid rgb(20, 124, 158);
    text-align: center;
}

nav ul{
    font-size: 20px;
}

img{
   
    height:auto;
    float: right
}