body{
    padding: 10px 30px;
}


header{ 
        font-size: 25px;
        line-height : 1.5;
        margin: 1.5rem auto;
        background-color: black;
        text-align: center;
        font-family: 'Bitter', serif;

}

nav h2{
    font-size: 30px;
    border-bottom:1px solid rgb(20, 124, 158);
    text-align: center;
}

nav ul{
    font-size: 20px;
}




img{
    height:auto;
    width:100%;
}

  

h1{    
    font-size: 2rem;
    margin: 1.35rem;
    color:whitesmoke;
}

h3{
    font-size: 2rem;
    margin: .25rem;
    text-decoration: underline;

}
footer{
    font-size:10px;
    line-height: 5;
    margin: 1rem auto;
    background-color: rgb(20, 124, 158);
    text-align: center;
}

nav h2{
    font-size: 30px;
    border-bottom:1px solid rgb(20, 124, 158);
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:whitesmoke;
    padding: 10px;
    border: 1px solid red;
  }

@media only screen and (max-width: 26em) {
    

    .grid-container {
        display: grid;
        grid-template-columns: auto;
        background-color: whitesmoke;
        padding: 10px;
      }
}

/* Tablet Views *****************/
@media only screen and (max-width: 64em) and (min-width: 26em) {

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        background-color: whitesmoke;
        padding: 10px;
      }
    }
/* Desktop Views *******************************
@media only screen and (min-width: 30em){

    main{
        grid-template-columns 1fr 1fr 1fr
    }
}