
h1 {
    text-align: center;
}

.container {
    display: grid;
    border: 2px dashed rgba(114, 186, 94, 0.05);
    grid-template-columns: auto;
    justify-items: center;

}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur (0em);
    transition: filter 0.5s;
}