body {
    background-color: #bcd5d1;
    padding: 0;
    margin: 0;
}

main {
    background-color: white;
}



header {
    padding: 1px;
    font-size: 25px;
    line-height: 1.5;
    margin: 0;
    background-color: #1d2120;
    text-align: center;
    font-family: 'bree', serif;
    color: white;
}


.sun {
    right: 10rem;
    top: 2rem;
    max-width: 55px;
}

.banner {
    font-size: 13px;
    padding: 9px;
    background-color: red;
    display: inline-block;
    width: 490px;
    height: 25px;
}





nav {
    margin: 0 auto;
    background-color: #5a5c51;


}

.navigation {

    list-style: none;
    text-align: center;
    padding: 1rem;
    margin-top: -4px;
    margin-bottom: 0px;

}

.navigation li:first-child {
    display: flex;
    justify-content: center;
}

.navigation li {
    display: none;
}

.navigation a {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: .75rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #000;
    background-color: yellow;
    font-weight: 700;
}


.responsive li {
    display: block;
}

h1 {
    font-size: 2.5rem;
    margin: 1.35rem;
    color: whitesmoke;
    font-family: 'bree', serif;
}

h3 {
    font-size: 1rem;
    margin: .25rem;
    text-decoration: underline;
    font-family: 'pt sans narrow', serif;
    color: lightgray;
}

h4 {
    font-size: 1em;
    font-family: 'pt sans narrow', serif;
}

h2 {
    font-size: 30px;
    border-bottom: 1px solid rgb(20, 124, 158);
    text-align: center;
    font-family: 'pt sans narrow', serif;
    margin: 0;
}

footer {
    font-size: 5px;
    line-height: 3rem;
    margin: 1rem auto;
    margin-top: -1rem;
    background-color: #5a5c51;
    text-align: center;
    font-family: 'bree', seriff;
}

header p {
    font-size: 1.5rem;
    font-family: 'pt sans narrow', serif;
}


.active {
    background-color: black;
}


a:hover {
    background-color: #ba9077;
}

.date {
    color: lightgray;
}

.box {
    position: relative;
    margin: 10px auto;
    padding: 10px;
    border: 10px;
}

.weatherback {
    width: 100%;
    height: auto;
}

.weatherpict {
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    color: gray;
}

.summary {
    position: absolute;
    top: 70px;
    left: 25px;
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
    background-color: gray;
    color: black;
    opacity: .95;
}

.wolf2 {
    display: block;
    padding: 10px;
    margin: 5px;
    height: auto;
    width: 90%;
}

.wolf {
    display: none;
}

.contact {
    text-align: center;
    background-color: #ba9077;
    margin-bottom: -20px;
    margin-right: -20px;
    margin-left: -20px;
}


.content {
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    color: black;

}

.sect {
    display: none;
}

.map {
    display: none;
}

main picture.logo {
    width: 80%;
    margin: 5% 5% 5% 0;
    position: relative;
}

main.picture.logo img {
    width: 100%
}

h3 a {
    color: lightgray;
}

section div span {
        display: block;
        font-size: .87em;
        margin-top: 2.33em;
        margin-bottom: 2.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
}