.cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    /*grid-template-columns: 500px 500px 500px 500px;*/
   /* grid-template-rows: 50px 5em min-content auto;*/
   

}

section{
    height: 200px;
    width: 50%;
    background-color: powderblue;

}


img {
    height: 200px;
    width: auto;
}