
/* Media Query for medium + screens */
@media only screen and (min-width: 64rem) {
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: whitesmoke;
	}	
	
	.container {
		display: grid;
		border: 9px dashed rgba(114, 186, 94, 0.05);
		grid-template-columns: 400px 400px 400px;
		justify-items: center;
		row-gap: 6rem;
		column-gap: 2rem;

}

main {
	margin: auto;
	width: 75%;
	padding: 40px;

}

.place:hover{
    box-shadow: 10px 10px 10px 10px gray;
}

.place {
	box-shadow: 4px 4px 6px 7px gray;
	font-size: 2rem;

}
div .slide2 {
    position: relative;
    align-content: right;
}

div #section{
    
    max-width:100%
}

#mySlides{
    max-width: 100%;
}

.tmple{
    position:absolute;
    right:33%;
    left:33%;
    top: 45%;

}

#res{
    right:45%;
    color:black;
    text-decoration: none;
    font-weight: bold;

}

#reserv{
    position: relative;
    left: 45%;
    border: black;
    border-style: solid;
    width: 169px;
    height: 20px;
    padding: 12px 22px 22px 22px;
    background-color: white;
}

#reserv:hover{
    
    background-color: lightgray;
    
}

div #reserv a:hover{
    background-color:lightgray;
}

#res:hover{
    color:blue;
}
}

